header {
	background-color: #0037ba;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: center;
}

h1 {
	color: #1be4a8;
}

#links {
	justify-self: center;
	justify-content: center;
	display: flex;
	width: 70%;
	border: 5px ridge black;
	padding: 2em 2em;
	flex-wrap: wrap;
	background: #0037ba;
}

footer {
	color: #0037ba;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background: #f2d492;
}

main {
	flex: 1;
}

p {
	justify-self: center;
	color: #0037ba;
}

.card {
	display: flex;
	border: 5px ridge black;
	margin: 1em 1em;
	justify-content: center;
	padding: 1em 1em;
	flex: 1 1 25%;
	background: #ed6b86;
}
